<!DOCTYPE html>
<html lang="en">

<head>
    <!--
     - Roxy: Bootstrap template by GettTemplates.com
     - https://gettemplates.co/roxy
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NTU Course Cat</title>
    <meta name="description" content="NTUCourseCat">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="../static/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="../static/vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/vendor/lightcase/lightcase.css">
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">
	<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-white" href="/">
            <h3 class="font-weight-bolder mb-0">NTUcCat</h3>
        </a>
        </div>
    </nav>

<div class="jumbotron d-flex align-items-center">
  <div class="container text-center">
    <h1 class="display-1 mb-4">台大課程喵喵</h1>
  </div>
  <div class="rectangle-1"></div>
  <div class="rectangle-2"></div>
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div>
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="triangle triangle-1">
  	<img src="../static/img/obj_triangle.png" alt="">
  </div>
  <div class="triangle triangle-2">
  	<img src="../static/img/obj_triangle.png" alt="">
  </div>
  <div class="triangle triangle-3">
  	<img src="../static/img/obj_triangle.png" alt="">
  </div>
  <div class="triangle triangle-4">
  	<img src="../static/img/obj_triangle.png" alt="">
  </div>
</div>	<!-- Features Section-->
<section id="features" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap mb-5" data-aos="fade-up">
                <h2 class="section-title">
                    台大課程查詢服務
                </h2>
                <p class="section-sub-title">台大課程喵喵提供您易懂方便的搜尋方法</p>
            </div>
            <!-- End of Section Title -->
            <div class="row">
                <!-- Features Holder-->
                <div class="col-md-10 offset-md-1 features-holder">
                    <div class="row">
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center mt-4">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-cog fs-40"></i>
                                </div>
                                <h4>無需下載</h4>
                                <p>此服務無須下載任何軟體，只需加入台大課程喵喵LINE好友即可開始使用。</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-frame-contract fs-40"></i>
                                </div>
                                <h4>即時準確的資訊</h4>
                                <p>課程資料來源為台大選課系統，請安心使用。</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-bubble fs-40"></i>
                                </div>
                                <h4>訊息查詢</h4>
                                <p>查詢課程，只需傳訊息，就是那麼簡單。</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-magic-wand fs-40"></i>
                                </div>
                                <h4>簡潔介面</h4>
                                <p>課程資訊以簡潔、舒服的介面呈現，使資訊一目了然且不繁雜。</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                        <!-- Features Item -->
                        <div class="col-md-4 col-sm-12 text-center mt-4">
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-clock fs-40"></i>
                                </div>
                                <h4>隨叫隨到</h4>
                                <p>24小時營運，全年無休，隨傳隨查。</p>
                            </div>
                            <div class="shadow rounded feature-item p-4 mb-4" data-aos="fade-up">
                                <div class="my-4">
                                    <i class="lnr lnr-thumbs-up fs-40"></i>
                                </div>
                                <h4>手機瀏覽</h4>
                                <p>解決台大課程查詢系統不友善行動裝置之問題。</p>
                            </div>
                        </div>
                        <!-- End of Feature Item -->
                    </div>
                </div>
                <!-- End of Features Holder-->
            </div>
        </div>
    </div>
</section>
<!-- End of Features Section-->	
<section id="section-featurettes" class="featurettes overlay bg-fixed" style="background-image: url(img/bg.jpg);">

    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row align-items-center text-white">

                        <div class="col-md-4 offset-md-2 col-sm-6" data-aos="fade-right">
                            <h4 class="mb-4">嘗試更快速的課程查詢服務</h4>
                            <p>
                                你是否受夠了台大課程查詢系統的陽春介面、繁雜資訊、反人類設計？
                                <br>
                                讓台大課程喵喵來幫幫你吧！  
                                <br>
                                <br>
                                台大課程喵喵在LINE上提供您線上即時訊息課程查詢服務。
                                <br>
                                課程喵喵介面簡潔、搜尋方式人性化、友善行動裝置，還很可愛！
                                <br>
                                可透過課程名稱、開課系所、學期等參數找尋相關課程。
                                <br>
                                <br>
                                詳細說明請加入課程喵喵好友查看。
                            </p>
                        </div><!--/ .col-md-4.col-md-offset-2.col-sm-6 -->

                        <div class="offset-md-right-2" data-aos="flip-right" style="width: 35rem; margin-left: .5rem;">
                            <img src="../static/img/demo2.jpg" alt="" style="width: 100%; border-radius: 6%;">
                        </div><!--/ .col-md-4.col-md-offset-right-2.col-sm-6 -->

                    </div><!--/ .featurettes-item -->

                </div><!--/ .col-md-12 -->

            </div><!--/ .row -->
        </div>
    </div><!--/ .container -->

</section>	
<section id="reservation" class="bg-white section-content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-lg-1 mb-5 mb-lg-0" data-aos="fade-right">
                <div class="bg-white p-5 shadow">
                    <div class="heading-section text-center">
                        <h2 class="mb-4">
                            意見回饋
                        </h2>
                    </div>
                    <div class="col-md-12 text-center">
                        <a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSfEsJqfKpL-Ti9Fz_aXe8hNfR3zqmDV9kBC31MpvV00qlyn8A/viewform?usp=sf_link">
                            回饋表單
                        </a>
                        <!-- <a class="btn btn-primary btn-shadow btn-lg" type="submit" href=""></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1" data-aos="fade-left">
                <h2 class="mb-4">
                    感謝您提供寶貴意見！
                </h2>
                <p class="mb-4">
                    如果您對機器人有任何問題、欲回報錯誤，或單純想與作者聊聊，除了填寫表單，也可以直接寄信給作者。
                    <br>
                    <br>
                    作者信箱：ruby0322@ntu.im
                </p>

            </div>
        </div>
        
    </div>
</section>
<!-- End of Reservation Section -->	<!-- Features Section-->
<section id="cta" class="bg-fixed overlay" style="background-image: url(img/bg.jpg);">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-2">現在就加入台大課程喵喵LINE好友</h2>
                    <p>受夠反覆翻找台大課程查詢系統了嗎？加入台大課程喵喵LINE好友以體驗更佳的課程查詢服務。
                    </p>
                    <a class="btn btn-outline-primary btn-lg" href="https://lin.ee/dYAofhq">立即加入</a>
                </div>
            </div>
        </div>
    </div>
</section>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script src="../static/vendor/bootstrap/popper.min.js"></script>
	<script src="../static/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="../static/vendor/select2/select2.min.js "></script>
	<script src="../static/vendor/owlcarousel/owl.carousel.min.js"></script>
	<script src="../static/vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/vendor/isotope/isotope.min.js"></script>
	<script src="../static/vendor/lightcase/lightcase.js"></script>
	<script src="../static/vendor/waypoints/waypoint.min.js"></script>
	 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	 
	<!-- Main JS -->
	<script src="../static/js/app.min.js "></script>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
